{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/openplayerjs@latest/dist/openplayer.min.css" />
<style>
.comments-link {
    cursor: pointer;
}
.pulse {
  box-shadow: 0 0 0 rgba(0,0,0, 0.4);
  animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.5);
  }
  70% {
      -webkit-box-shadow: 0 0 0 50px rgba(0,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.5);
    box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
  }
  70% {
      -moz-box-shadow: 0 0 0 15px rgba(0,0,0, 0);
      box-shadow: 0 0 0 15px rgba(0,0,0, 0);
  }
  100% {
      -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
      box-shadow: 0 0 0 0 rgba(0,0,0, 0);
  }
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 shadow min-vh-100">
            <div class="row pill shadow mx-1 my-5 py-5 px-1 justify-content-between" style="background-color: #F6F5F8 !important;">
                <div class="col-10">
                    <span>
                        <div id="whats-on-your-mind" class="" style="font-size: xx-large;">What's on your mind?</div>
                    </span>
                    <span>
                        <audio
                            id="equilizer"
                            controls="controls"
                            class="op-player__media rounded d-none"
                            style="height: 100%; background-color: #212529;">
                        </audio>
                    </span>
                </div>
                <div class="col-auto">
                    <button class="btn pulse" id="record-tweet">
                        <i class="bi bi-mic-fill" style="font-size: xx-large;"></i>
                    </button>
                </div>
                <div class="col-12 mt-2">
                    <div class="row">
                        <button id="tweet-btn" class="col btn btn-primary mx-3" disabled>Tweet!</button>
                    </div>
                </div>
            </div>
            <hr>
            {% for i in tweets %}
            <div class="row  my-3 mx-1 py-5 shadow border">
                <div class="col-2"  style="background-color: #F6F5F8;">
                    <img src="{% static 'images/user_placeholder.png' %}" class="img img-fluid">
                </div>
                <div class="col-8">
                    <div class="row justify-content-between pb-3">
                        <div class="col-auto">{{i.user}}</div>
                        <div class="col-auto"><small class="text-muted">{{i.timestamp}}</small></div>
                    </div>
                    <div class="row"><div class="col-12">
                        <audio
                            src="{{i.tweet.url}}"
                            controls="controls"
                            class="op-player__media rounded"
                            style="height: 100%; background-color: #212529;"
                            >
                        </audio>
                    </div></div>
                </div>
                <div class="col-12 mt-3">
                    <a class="text-muted comments-link">Load comments</a>
                </div>
                <div class="col-12 comments-div" style="background-color: #F6F5F8;">
                    {% for j in i.comments.all %}
                    <div class="row py-2 px-1">
                        <div class="col-2 text-truncate">
                            <div class="d-block">
                                <img src="{% static 'images/user_placeholder.png' %}" width="40px">
                            </div>
                            <div><small>{{ j.user }}</small></div>
                        </div>
                        <div class="col">
                            <audio
                                src="{{j.comment.url}}"
                                controls="controls"
                                class="op-player__media rounded">
                            </audio>
                        </div>
                    </div>
                    <hr class="m-0 p-0">
                    {% endfor %}
                    <div class="row my-2 bg-white rounded-pill border">
                        <div class="col opinion-div text-muted"><span class="pt-2">What's your opinion?</span></div>
                        <div class="col player-div d-none">
                            <audio
                                controls="controls"
                                class="op-player__media rounded">
                            </audio>
                        </div>
                        <div class="col-1">
                            <button class="btn cmt-recorder">
                                <i class="bi bi-mic-fill"></i>
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            {% endfor %}

    </div>
</div>


{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/audio-recorder.js' %}"></script>

    <script>
        let recording = false;
        let audio = false;
        $(document).ready(function() {
            // to set any default setting on page ready!
            $('.cmt-recorder').on('click', async (event) => {
                const recorder = await recordAudio();
                recorder.start();
                $(this).children('i').addClass('text-danger');
                $(this).parent().siblings('.opinion-div').removeClass('d-none');
                $(this).parent().siblings('.player-div').addClass('d-none');
                setTimeout(async () => {
                    const cmt_audio = await recorder.stop();
                    $(this).parent().siblings('.player-div').children('audio').attr('src',cmt_audio.audioUrl);
                    $(this).children('i').removeClass('text-danger');
                    $(this).parent().siblings('.opinion-div').addClass('d-none');
                    $(this).parent().siblings('.player-div').removeClass('d-none');
                    },
                    3000 // Here we mention the max audio recording seconds.
                );
            });
        });

        function blobToBase64(blob) {
            const reader = new FileReader();
            reader.readAsDataURL(blob);
            return new Promise(resolve => {
                reader.onloadend = () => {resolve(reader.result);};
            });
        }

        $('#record-tweet').on('click', async function ( event) {
            const recorder = await recordAudio();
            recorder.start();
            recording = true;
            $(this).removeClass('pulse');
            $(this).children('i').addClass('text-danger')
            $('#whats-on-your-mind').removeClass('d-none');
            $('#equilizer').addClass('d-none');
            setTimeout(async () => {
                audio = await recorder.stop();
                if (audio !== false) {
                    recording = false;
                    $('#equilizer').attr('src',audio.audioUrl);
                    $(this).addClass('pulse');
                    $(this).children('i').removeClass('text-danger');
                    $('#whats-on-your-mind').addClass('d-none');
                    $('#equilizer').removeClass('d-none');
                    $('#tweet-btn').removeAttr('disabled');
                }
            },
            5000 // Here we mention the max audio recording seconds.
        );
        });
        
        $('#tweet-btn').on('click', (event) => {
            if(audio !== false) {

                function getCookie(c_name) {
                    if (document.cookie.length > 0) {
                        c_start = document.cookie.indexOf(c_name + "=");
                        if (c_start != -1) {
                            c_start = c_start + c_name.length + 1;
                            c_end = document.cookie.indexOf(";", c_start);
                            if (c_end == -1) c_end = document.cookie.length;
                                return unescape(document.cookie.substring(c_start,c_end));
                        }
                    }
                    return "";
                    }

                    const formData = new FormData();
                    formData.append('audio-file', audio.audioBlob);
                    fetch(
                        url='{% url "post_tweet" %}',
                        {
                            method: 'POST',
                            body: formData,
                            headers: { "X-CSRFToken": getCookie("csrftoken") },
                        }).then((res) => {
                            window.location.reload();
                            console.log(res)
                        }).catch((res) => {
                            window.location.reload();
                        })
            }
        });
    </script>
{% endblock %}